* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 60px;
}

h1 {
    font-size: 40px;
    color: #ecf0f1;
}

#input-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

section {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    margin-bottom: 30px;
}

.align-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #7f8c8d;
    background-color: #34495e;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.green-button {
    background-color: #1abc9c;
    color: white;
}

.green-button:hover {
    background-color: #16a085;
}

.red-button {
    background-color: #e74c3c;
    color: white;
}

.red-button:hover {
    background-color: #c0392b;
}

#table-section{
    width: 83vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 60px;
    margin-top: 30px;
    margin-left: auto;
    margin-right:auto;

}
table {
    width: 80vw;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border: 1px solid #aaadad;
    text-align: center;
}
td{
    background-color: #34495e ;
}
th {
    background-color: #1abc9c;
}

.final{
        width: 60vw;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 6px;
        margin-top: 60px;
        margin-left: auto;
        margin-right:auto;
        color: #ecf0f1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
}


/* Container for the chart and results */
.chart-container {
    display: flex;
    flex-direction: column; /* Change to 'row' if you want them side by side */
    align-items: center;
    margin-top: 20px; /* Space between input section and chart/results */
}

#expenseChart {
    width: 400px;  /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    max-height: 400px; /* Optional: Set max height */
}


