/* General Styles */
body {
    font-family: Helvetica, sans-serif;
    background-color: #f3cbb3;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
}


h1 {
    color: rgb(77, 4, 92);
    margin: 20px auto;
    font-family: 'Times New Roman', Times, serif;
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(193, 153, 239);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
}

/* Section Styles */
.align-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

.set-income, .add_expense_align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Input Styles */
input, select {
    padding: 10px;
    font-size: 16px;
    background-color: #f0eaea;
    border-radius: 4px;
    border:1px black solid;
    width: 200px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.green-button:hover{
    background-color: darkgreen;
}
.red-button{
    justify-content: center;
    background-color: #ac3c3c;
}
.red-button:hover{
    background-color: rgb(113, 28, 28);

}

.clear-all {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-bottom: 20px; /* Adds some space below the button */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are merged into a single line */
    border: 1px solid black; /* Black border around the table */
}

th, td {
    padding: 10px;
    border: 1px solid black; /* Black border around each cell */
    text-align: center;
}
th{
    background-color:#760798;
}
tr
{
    background-color: #ecc7c4;
}

.final {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 120px;
    
}

